.page-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fb;
}

.form-card{
    width:600px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);
}

.form-card h2{
    color:#2563eb;
    text-align:center;
    margin-bottom:25px;
}

.form-card input,
.form-card textarea{

    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
    box-sizing:border-box;
}

.form-card textarea{
    resize:none;
}

.form-card button{

    width:100%;
    padding:14px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.form-card button:hover{

    background:#1d4ed8;
}

.form-card button:disabled{

    background:#94a3b8;
}